<form class="my-3" [formGroup]="listadoPicos">
    <div class="row justify-content-xl-end">
        <div class="col-12 col-md-4 col-xl-3">
            <app-menu-ordenacion (cambioOrdenacion)="cambiarOrdenacion($event)"></app-menu-ordenacion>
        </div>
        <div class="col-12 col-md-8 col-xl-3">
            <app-search-bar (searchText)="nuevaBusqueda($event)"></app-search-bar>
        </div>
    </div>
    <div class="row">
        <ng-container *ngIf="(picos$ | async)?.length else noResults">
            <div *ngFor="let pico of (picos$ | async)" class="col-12 col-sm-6 col-md-4 col-xl-3 my-3">
                <div class="card h-100">
                    <ng-container *ngIf="pico.imagen else fotoPorDefecto">
                        <img class="card-img-top" src="assets/img/{{pico.imagen}}" alt="Foto del pico">
                    </ng-container>
                    <ng-template #fotoPorDefecto>
                        <img class="card-img-top" src="assets/img/default.jpg" alt="Foto del pico">
                    </ng-template>
                    <div class="card-body">
                        <h2 class="card-title">{{pico.nombre}} ({{pico.altura | number:'3.0-1':'es'}}m)</h2>
                        <h3 class="card-subtitle mb-3">{{pico.concejo}}</h3>
                        <button type="button"
                            [ngClass]="{'btn btn-block align-self-end': true, 'btn-outline-secondary': !pico.ascendido, 'btn-secondary': pico.ascendido }"
                            (click)="clickAscendido(pico)">Ascendido:
                            <span *ngIf="pico.ascendido else picoNoAscendido">Sí</span>
                            <ng-template #picoNoAscendido>No</ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #noResults>
            <div class="col-12 pt-4">
                <p>No hay resultados para la búsqueda</p>
            </div>
        </ng-template>
    </div>
</form>