.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-body button {
    margin-top: auto;
}

.btn-primary .icon{
    margin-right: 5px;
    margin-top: -10px;
}