<footer class="bd-footer p-3 p-md-5 mt-5 bg-light">
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-md-row">
        <ul class="bd-footer-links pl-0 mb-3">
            <li class="d-inline-block"><a [routerLink]="['/observaciones']">Observaciones</a></li>
            <li class="d-inline-block ms-3"><a [routerLink]="['/avisolegal']">Aviso Legal</a></li>
            <li class="d-inline-block ms-3"><a href="https://www.latostadora.com/shop/quicothesiamese/" title="Colabora para que podamos mejorar el proyecto">Apoya el proyecto</a></li>
        </ul>

        <div class="copyright ms-md-auto">
            <span class="font-family-base">&copy;</span> <a href="https://guitarranalon.github.io/siamese-dev/" title="Ir a la web del autor">siamese.dev</a> 2021
        </div>
        </div>
    </div>
</footer>
