<div class="row py-4">
    <div class="col-12">
        <h2>Observaciones</h2>
        <p>
            La lista presentada anteriormente se considera la más oficial y es, por ejemplo, la empleada por la
            <a href="http://www.fempa.net/fempa/servlet/Home"
                title="Ir a la web de la Federación de Deportes de montaña, escalada y senderismo del Principado de Asturias">Fempa</a>.
            También coincide con la publicada por Raimundo González Cuenco en su libro <a
                href="http://www.azuceldigital.com/tienda-on-line/"
                title="Bajar a hasta abajo para encontrar el libro">Los 78 techos de los
                concejos de Asturias</a> <span class="isbn"> (ISBN: 978-8496175273)</span>.
        </p>
        <p>
            Sin embargo, tras un estudio de los distintos techos utilizando la cartografía del
            <a href="http://www.ign.es/" title="Ir al sitio web del Instituto Geográfico Nacional">IGN</a>,
            se pueden observar varias incorrecciones en esa lista, que se detallan a continuación:
        </p>
        <ul>
            <li>
                El pico más alto de Avilés no es El Vallín (de 119m y no 131 como aparece en ocasiones) sino La Miranda.
            </li>
            <li>
                La cumbre de Peña Ten (techo de Ponga en la lista oficial) está situada fuera de Asturias.
            </li>
            <li>
                La cumbre del Cueto Tabladiello, techo de Ribadedeva, se encuentra fuera del concejo.
            </li>
            <li>
                El techo de Llanes, Cabeza Ubena (o Bubena) también está fuera del concejo.
            </li>
            <li>
                El techo de Mieres, Cuetu Ventosu tiene a su lado la Burra Blanca, que mide 5m más y cuya cumbre está
                dentro de los límites del concejo.
            </li>
            <li>
                El Fontán Norte, techo de Quirós, es más bajo que el Fontán Sur (2408 y 2414 respectivamente).
            </li>
            <li>
                El Mosqueiro, techo de Pesoz, tiene la cumbre fuera de los límites del concejo.
            </li>
        </ul>
        <p>
            No obstante, teniendo en cuenta la relativa oficialidad de la lista anterior y la cantidad de personas que
            ya la
            habrán completado se ha optado por no realizar las correcciones oportunas.
        </p>
    </div>
</div>