<div class="map-container" id="map"><div id="popup" #popup><button type="button" class="ol-popup-closer btn btn-link">✕</button><div class="popup-content"></div></div></div>

<div class="row py-5">
    <div class="col-12">
        <a class="btn btn-primary boton-download" href="assets/data/techosasturias.kml" title="Descargar el fichero kml con las coordenadas de los picos"><svg class="icon"><use xlink:href="#download" /></svg> Descargar coordenadas (.kml)</a>
    </div>
</div>

<app-pico-mas-cercano (userlocation)="userLocationReceived($event)"></app-pico-mas-cercano>