<nav id="main-nav" class="navbar fixed-top navbar-expand-md navbar-dark bg-primary py-5">
    <div class="container-fluid">
        <h1><a class="navbar-brand" routerLink="/">Techos de Asturias</a></h1>

        <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation"
            aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item no-caret"><a (click)="toggleMenu()" class="nav-item nav-link"
                        [routerLink]="['/listado']" routerLinkActive="active">Picos</a></li>
                <li class="nav-item no-caret"><a class="nav-item nav-link" [routerLink]="['/progreso']"
                        routerLinkActive="active">Progreso</a></li>
                <li class="nav-item no-caret"><a class="nav-item nav-link" [routerLink]="['/mapa']"
                        routerLinkActive="active">Mapa</a></li>
            </ul>
        </div>
    </div>
</nav>