<nav id="main-nav" class="navbar navbar-expand fixed-top navbar-dark bg-primary py-3">
    <div class="d-flex flex-column flex-md-row align-items-center align-items-md-left w-100">
        <h1><a class="navbar-brand d-flex" routerLink="/"><svg class="icon"><use xlink:href="#logo" /></svg><span class="brand-text"><span class="big">Techos</span> <br /><span class="small">de</span> Asturias</span></a></h1>

        <div class="navbar-nav-scroll" id="appNavigation">
            <ul class="navbar-nav bd-navbar-nav flex-row ml-md-5">
                <li class="nav-item no-caret"><a (click)="toggleMenu()" class="nav-link"
                        [routerLink]="['/listado']" routerLinkActive="active">Picos</a></li>
                <li class="nav-item no-caret"><a class="nav-link" [routerLink]="['/progreso']"
                        routerLinkActive="active">Progreso</a></li>
                <li class="nav-item no-caret"><a class="nav-link" [routerLink]="['/mapa']"
                        routerLinkActive="active">Mapa</a></li>
            </ul>
        </div>
    </div>
</nav>