<div class="row py-4">
    <div class="col-12">
        <h2>Aviso legal</h2>
        <p>El montañismo es una actividad potencialmente peligrosa. Muchas de las cumbres aquí recogidas 
			requieren de ciertas habilidades (buena forma física, capacidad de orientación, soltura en la progresión 
            por laderas escarpadas...) para poder ser ascendidas con un mínimo de seguridad. 
        </p>
        <p>
			El contenido de este sitio tiene carácter meramente informativo y Mis Techos de Asturias no garantiza 
			la inexistencia de errores ni se responsabiliza de las acciones y/o consecuencias derivadas de la utilización 
			de la información por parte de los usuarios.
		</p>
    </div>
</div>