<div class="detalle mt-4">
    <ng-container *ngIf="pico else picoinexistente">
        <h2>{{ pico.nombre }} ({{ pico.altura | number:'3.0-1':'es' }}m)</h2>
        <h3>{{ pico.concejo }}</h3>

        <div class="map-container" id="map"></div>

        <div class="navigation my-3 d-inline-block me-3" *ngIf="geolocation">
            <ng-container *ngIf="!navigating else detenernavegacion">
                <button class="btn btn-primary" (click)="empezarNavegacion()"><svg class="icon navigation"><use xlink:href="#compass" /></svg> Navegar</button>
            </ng-container>
            
            <ng-template #detenernavegacion>
                <button class="btn btn-primary" (click)="detenerNavegacion()"><svg class="icon navigation"><use xlink:href="#stop" /></svg> Detener navegación</button>
            </ng-template>
        </div>
        <div class="download-track d-inline-block">
            <app-download-track-button [peakId]="id" [peakName]="pico.nombre"></app-download-track-button>
        </div>

        <ul class="list-unstyled mt-4">
            <li>
                <p><b>Dificultad: </b> {{ pico.dificultad | dificultad }}</p>
            </li>
            <ng-container *ngIf="pico.detalle">
                <li *ngIf="pico.detalle.ubicacion">
                    <p><b>Ubicación: </b> {{ pico.detalle.ubicacion }}</p>
                </li>
                <li *ngIf="pico.detalle.ascendidoCon && pico.detalle.ascendidoCon.length">
                    <p><b>Picos cercanos: </b> 
                        <ng-container *ngFor="let pcercano of pico.detalle.ascendidoCon">
                            <a [routerLink]="['/detalle', pcercano]">{{ picosCercanos.get(pcercano)?.nombre }} ({{ picosCercanos.get(pcercano)?.concejo }})</a>{{ponerComaSiCorresponde(pcercano)}}
                        </ng-container>
                    </p>
                </li>
                <li *ngIf="pico.detalle.inicioRuta">
                    <p><b>Inicio ruta habitual: </b> {{ pico.detalle.inicioRuta.nombre }} ({{ pico.detalle.inicioRuta.altura | number:'3.0-1':'es' }}m)</p><button *ngIf="isMobile()" class="btn btn-outline-primary" title="Abrir la localización para navegar" (click)="abrirMaps(pico.detalle.inicioRuta)"><svg class="icon navigation"><use xlink:href="#coche" /></svg> Conducir al inicio</button>
                </li>
            </ng-container>
        </ul>
    </ng-container>
    <ng-template #picoinexistente>
        <p>No existe el pico solicitado. Prueba a <a [routerLink]="['/']">volver al listado</a>.</p>
    </ng-template>
</div>