<div class="detalle mt-4">
    <ng-container *ngIf="pico else picoinexistente">
        <h2>{{ pico.nombre }} ({{ pico.altura | number:'3.0-1':'es' }}m)</h2>
        <h3>{{ pico.concejo }}</h3>

        <div class="map-container" id="map"></div>

        <ul class="list-unstyled mt-4">
            <li>
                <p><b>Dificultad: </b> {{ pico.dificultad | dificultad }}</p>
            </li>
            <ng-container *ngIf="pico.detalle">
                <li *ngIf="pico.detalle.ubicacion">
                    <p><b>Ubicación: </b> {{ pico.detalle.ubicacion }}</p>
                </li>
                <li *ngIf="pico.detalle.ascendidoCon && pico.detalle.ascendidoCon.length">
                    <p><b>Picos cercanos: </b> 
                        <ng-container *ngFor="let pcercano of pico.detalle.ascendidoCon">
                            <a [routerLink]="['/detalle', pcercano]">{{ picosCercanos.get(pcercano)?.nombre }} ({{ picosCercanos.get(pcercano)?.concejo }})</a>{{ponerComaSiCorresponde(pcercano)}}
                        </ng-container>
                    </p>
                </li>
                <li *ngIf="pico.detalle.inicioRuta">
                    <p><b>Inicio ruta habitual: </b> {{ pico.detalle.inicioRuta.nombre }} ({{ pico.detalle.inicioRuta.altura | number:'3.0-1':'es' }}m)</p><button *ngIf="isMobile() || true" class="btn btn-outline-primary" title="Abrir la localización para navegar" (click)="abrirMaps(pico.detalle.inicioRuta)">Abrir en Maps</button>
                </li>
            </ng-container>
        </ul>
    </ng-container>
    <ng-template #picoinexistente>
        <p>No existe el pico solicitado. Prueba a <a [routerLink]="['/']">volver al listado</a>.</p>
    </ng-template>
</div>