@import "../node_modules/ol/ol.css";

// fonts
@font-face {
    font-family: 'fauna';
    src: url('assets/fonts/faunaone-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/faunaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair';
    src: url('assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Variables
$primary:       #50636a;
$secondary:     #f28705;

$border-width:    3px;

$font-family-sans-serif: fauna, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: playfair, Georgia, Times, 'Times new roman', serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

svg.icon{
    height: 15px;
    width: 15px;
    fill: $primary;
    &.grey{
        fill: map-get($grays, 600);
    }
    &.greydark{
        fill: map-get($grays, 800);
    }
}

.container-fluid.main-content {
    padding-top: 193px;
}

#main-nav {
    background-image: url(assets/img/header-bg.jpg);
    background-position: 20% -24px;
    background-repeat: no-repeat;

    h1 {
        font-family: $font-family-serif;
    }
}

.card-title {
    font-family: $font-family-serif;
    font-size: 1.5rem;
}

.card-subtitle {
    font-size: 1.17rem;
}
